// .portfolio-content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .portfolio-item {
//     img {
//         width: 200px;
//     }
//     animation: backInRight 1s 1s forwards;
// }
.backg {
    width: 100%;
    height: 100vh;
    background: #F0C27B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4B1248, #F0C27B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4B1248, #F0C27B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    h1 {
        color: #231942;
        text-align: center;
        padding-top: 15px;
    }
}

.display {
    width: 800px;
    height: 390px;
    background: url('../../assets/images/cloud.jpg');
    // background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    margin: 50px auto;
    li {
        background-color: rgba(255, 255, 255, 0.1);
        list-style: none;
        float: left;
        border: 1px solid black;
        width: 400px;
        height: 130px;
        line-height: 130px;
        margin: 0 auto;
        text-align: center;
        font-size: 19px;
    }
    a {
        text-decoration: none;
        text-align: center;
    }
}

.parts:hover {
    background-color: rgb(#4B1248, 0.7);
}

.htmlCss-left::before {
    content: "HTML & CSS";
    color: #4B1248;
}

.htmlCss-left:hover::before {
    content: "HTML & CSS - Login Page";
    color: white;
}

.htmlCss-right::before {
    content: "HTML & CSS";
    color: #4B1248;
}

.htmlCss-right:hover::before {
    content: "HTML & CSS - Landing Page";
    color: white;
}

.bootstrap::before {
    content: "bootstrap";
    color: #4B1248;
}

.bootstrap:hover::before {
    color: white;
}

.js-DOM::before {
    content: "JavaScript";
    color: #4B1248;
}

.js-DOM:hover::before {
    content: "JavaScript - DOM";
    color: white;
}

.js-APIs::before {
    content: "JavaScript";
    color: #4B1248;
}

.js-APIs:hover::before {
    content: "JavaScript - APIs";
    color: white;
}

.js::before {
    content: "JavaScript";
    color: #4B1248;
}

.js:hover::before {
    content: "JavaScript- ";
    color: white;
}

//carocss
// .caroBox {
//     width: 100%;
//     height: 100%;
//     padding: 0;
//     opacity: 0;
//     animation: fadeIn 1s 4s forwards;
//     position: relative;
// }
// .caroImage {
//     width: 100%;
//     height: 100%;
// }
// .caro {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     margin: auto;
//     width: 300px;
//     height: 400px;
//     object-fit: cover;
// }
// .caro-left {
//     transform: translateX(-125%) scale(0.8);
//     transition: 500ms;
//     opacity: 0.3;
// }
// .caro-right {
//     transform: translateX(125%) scale(0.8);
//     transition: 500ms;
//     opacity: 0.3;
// }