<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="./loginPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&family=Shantell+Sans:ital,wght@1,500&display=swap" rel="stylesheet">


</head>

<body>

    <div class="back">
        <div class="left">
            <h1>Welcome back!</h1>
            <br/>
            <p>Continue with Google or enter your details.</p>
            <br/>
            <a href="" class="googlelink">
                <div class="google">
                    <image class="googleicon" src="../../../assets/images/icons8-google.svg" width="20px"></image>
                    <p>Log in with Google</p>
                </div>
            </a>

            <p>OR</p>
            <br>

            <div class="login">

                <input type="email" id="email" name="email" placeholder="Email"><br>
                <input type="password" id="password" name="password" placeholder="Password"><br>

                <input type="checkbox" id="remember" name="remember">
                <p class="remember">Remember me</p>

                <a herf="#" class="forgotpwd">
                    Forgot password
                </a>
                <br>

                <button class="loginBtn">Log in</button><br>
            </div>

            <p>Don't have an account? <a href="#" class="signup">Sign up for free</a>
        </div>

        <div class="right">

        </div>


    </div>



</body>

</html>